main {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    max-width: 1000px;
    width: 100vw;
    padding: 10px;
}

#hamburguer-menu {
    justify-self: start;
}

h2 {
    margin: 20px 0px !important;
}

#card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: center;
}

/*.card {
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
    border-radius: 5px;
    padding: 10px;
}

.card-img {
    width: 280px;
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    margin: 10px;
}

.card-text {
    font-size: 15px;
}

@media (max-width: 768px) {
    #card-container {
        display: block;
    }

    .card {
        margin: 10px;
    }
} */

@media (max-width: 690px) {
    #card-container {
        flex-direction: column;
        align-items: center;
    }
}
